.aboutUs {
	display: flex;
	margin: 80px;
	justify-content: right;
}
.aboutUs img {
	margin-left: 50px;
	margin: 0 auto;
	width: 50vw;
	border-radius: 15px;
	box-shadow: 20px 20px 30px 0 #161616;
}
.aboutUs .aboutUs-text {
	margin-top: 50px;
	margin-left: 50px;
	color: #161616;
}
.aboutUs .aboutUs-text h1 {
	color: #1b1b1b;
	font-size: 50px;
}
.aboutUs .aboutUs-text p {
	font-size: 36px;
	margin-right: 30px;
}
@media (min-width: 1800px) {
	.aboutUs .aboutUs-text h1 {
		font-size: 64px;
	}
	.aboutUs .aboutUs-text p {
		font-size: 50px;
	}
}
@media (max-width: 1450px) {
	.aboutUs .aboutUs-text p {
		font-size: 30px;
	}
}
@media (max-width: 1200px) {
	.aboutUs .aboutUs-text h1 {
		font-size: 40px;
	}
	.aboutUs .aboutUs-text p {
		font-size: 30px;
	}
}
@media (max-width: 1024px) {
	.aboutUs img {
		width: 100vw;
	}
	.aboutUs {
		display: block;
	}
	.aboutUs .aboutUs-text {
		margin-left: 10px;
		margin-right: 10px;
	}
	.aboutUs .aboutUs-text h1 {
		font-size: 34px;
	}
	.aboutUs .aboutUs-text p {
		font-size: 24px;
	}
}
@media (max-width: 500px) {
	.aboutUs {
		margin: 40px;
	}
}
@media (max-width: 410px) {
	.aboutUs .aboutUs-text h1 {
		font-size: 24px;
	}
	.aboutUs .aboutUs-text p {
		font-size: 18px;
	}
}
