.products {
	display: flex;
	margin: 50px;
}
.products .container {
	box-sizing: border-box;
	align-items: center;
	width: 200px;
	height: 220px;
	border-radius: 15px;
}
.products .container p {
	float: left;
	width: 70%;
	padding: 10px;
}
.products .container svg {
	float: right;
	margin-top: 20%;
	margin-right: 10px;
	background-color: #c25d67;
	color: #e9e7e3;
	border-radius: 5px;
	border: 1px solid #622d33;
}
.products .container svg:hover {
	scale: 1.1;
	box-shadow: 0 0 5px 3px rgba(0, 0, 0, 0.4);
}
.products .container img {
	border-radius: 15px 15px 0 0;
}
.products .container img:hover {
	scale: 1.2;
	z-index: -100;
}
